<header>
  <h1 data-testid="card-title">{{ config.title || '' }}</h1>
</header>

<ng-container *ngIf="config.loading; then loading; else loaded"> </ng-container>

<ng-template #loading>
  <main class="loading" data-testid="card-loading">
    <img src="../../../assets/svgs/loader.svg" alt="Icone de carregamento" />
  </main>
</ng-template>

<ng-template #loaded>
  <ng-container
    *ngIf="config && haveValue(); then success; else error"
    data-testid="card-loaded"
  ></ng-container>
</ng-template>

<ng-template #success>
  <main data-testid="card-success" [class]="'success ' + setCardClass()">
    <h3 data-testid="card-value">
      {{ config.value | currency : 'BRL' : 'symbol' : '1.2-2' }}
    </h3>
  </main>
  <hr />
  <footer>
    <section class="variation">
      <label>
        {{ config.variation?.title || '' }}
      </label>
      <span>
        {{ config.variation?.value | number : '1.2-2' || '' }}
      </span>
    </section>
    <section class="updated">
      <label>
        {{ config.updated?.title || '' }}
      </label>
      <span>
        {{ config.updated?.value || '' }}
      </span>
    </section>
  </footer>
</ng-template>

<ng-template #error>
  <main class="error" data-testid="card-error">
    <h4>Algo deu errado</h4>
    <button data-testid="card-button-reload" type="button" (click)="click()">
      <h2>RECARREGAR</h2>
    </button>
  </main>
</ng-template>
