// Text colors
$text-basic: #717171;
$text-secondary: #919191;
$text-green: #3c7649;
$text-blue: #3684cb;
$text-red: #dd4b4b;

// Background colors
$app-background: #eeeeee;
$app-header-background: #ffffff;
$card-header-background: #f6f6f6;
$card-background: #ffffff;
$button-background: #f4f4f4;
$button-background-hover: #e4e4e4;

// Others colors
$divisor-color: #cccccc;
